/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
    /* background: linear-gradient(135deg, #667eea, #764ba2); */
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 0 20px;
    background: linear-gradient(45deg, red, blue, green, yellow);
    /* 背景渐变 */
    background-size: 400% 400%;
    /* 设置渐变背景的尺寸 */
    animation: gradient 15s ease infinite;
    /* 应用动画 */
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}